@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato&family=Montserrat:wght@400;600&display=swap');
/*Esse trecho se refere às importações de fontes ao arquivo css*/

/*Esse trecho se refere a propriedades gerais da estilização css e para isso precisa de um asterisco antes*/
* {
    /*Essas são as propriedades do css*/
    margin: 0px; /* Margin: Espaçamento externo que envolve o elemento. */
    padding: 0px; /* Padding: Espaçamento interno entre o conteúdo e a borda do elemento. */
}
/*Esse trecho se refere a tag body e a suas configs*/
body {
    /* height: 100vh; Height: Altura do elemento. */
    box-sizing: border-box;
    background-color: black;
    color: #22D4FD;
}

h1 {
   font-weight: bold; 
}

span {
    color: #0b17fb;
    font-family: 'Lato', sans-serif;
    text-shadow: 0px 0px 10px #0b17fb;
    display: inline-block;
    border: 3px solid #0b17fb; /* Border: Borda ao redor do elemento. */
    padding: 0.1px 5px;
    border-radius: 20%;
    box-shadow: 2px 0px 8px #0b17fb;
}

/*Aqui estão as classes declaradas lá no index.html (elas devem ser chamadas com um '.' antes*/

.cabecalho {
    padding: 1% 0%  0% 14%;   
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:#22D4FD;
}

.apresentacao {
    padding: 2% 10%;
    display: flex; /* Display: Flex: Cria um container flexível para layout em linha ou coluna. */
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}
.apresentacao__conteudo{
    width: 615px; /* Width: Largura do elemento. */
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border:2px dotted #22D4FD; 
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__link:hover {
    background-color: #272727;
    transform: scale(0.9); /* Transform: Aplica transformações visuais a um elemento. */
}

.apresentacao__links__link:visited {
    /* background-color: #22D4FD; */
    border:2px dotted #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600; 
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;

}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    
}

.titulo-destaque {
    color: #6F75FE;
}

.apresentacao__link__titulo {
    text-decoration: none;
    color: #0b17fb;
    font-family: 'Lato', sans-serif;
    text-shadow: 0px 0px 10px #0b17fb;
    display: inline-block;
    font-size: 42px;
    border: 3px solid #0b17fb;
    padding: 0.1px 5px;
    border-radius: 20%;
    box-shadow: 2px 0px 8px #0b17fb;
}

.apresentacao__link__titulo:active {
    color: #0b17fb;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border: 3px solid #0b17fb;
    padding: 0.1px 5px;
    border-radius: 20%;
    box-shadow: 2px 0px 8px #0b17fb;
}

.apresentacao__link__titulo:visited {
    color: #0b17fb;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border: 3px solid #0b17fb;
    padding: 0.1px 5px;
    border-radius: 20%;
    box-shadow: 2px 0px 8px #0b17fb;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.mensagem-destque {
    color: #F6F6F6;
}

.apresentacao__imagem {
    width: 600px;
    height: auto;
}

.rodape {
    padding: 24px;
    color: #000;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

