:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-efeito: #3c92fa;
    --fonte-principal: 'Inter';
}

* {

    margin: 0 0 0 0; /*margin: valor-top valor-right valor-bottom valor-left;*/
    padding: 0;

}

body {

    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}

.principal {

    background-image: url("assets/Background.png"); /* define como imagem de fundo */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    align-items: center; /* Centraliza verticalmente os itens */
    text-align: center;  /* Centraliza o conteúdo horizontalmente */

}

.container {

    height: 100vh;
    display: grid; /* ativa o layout de grade na classe */
    grid-template-columns: 50% 50%; /* define duas colunas de igual largura */

}

.container__caixa {

    margin: 0 6em;

}

.container__titulo{

    font-size: 28px;
    font-weight: 700;

}

.container__imagem {

    margin: 1em 0 2em 0;
    

}

.container__botao {

    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}

.container__botao:hover { /*Pseudo Classes com : */

    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
    transform: scale(0.9);
}

.botao_secundario {

    background-color: transparent;
    border: 2px solid var(--branco-principal);

}

.botao_secundario:hover {

    background-color: var(--branco-principal);
    transform: scale(0.9);
}

.container__aviso {

    font-size: 12px;
    color: var(--cinza-secundario);

}

.secundario__imagem {

    width: 80%;
}

.secundario {

    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {

    font-weight: 700;
    font-size: 48px;
    color:var(--branco-principal);
    margin-bottom: 0.2em;
}

.descricao__texto {

    color: var(--cinza-secundario);
}

.secundario__botao {

    display: inline-block;
    margin-top: 1em;

}

.container__descricao {

    padding: 2em;

}

.unicornio {

    width: 500;
    border-radius: 20%;
}

.patton {

    border-radius: 20%;
    border-style: dashed; /*Borda tracejada*/
}

.dispositivos{

    text-align: center;
}

.dispositivos__titulo {

    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {

    font-size: 32px;
    color: var(--branco-principal);
}

.dispositivos__lista {

    display: flex;
    justify-content: center;
    list-style-type: none; /*Remove os ícones de lista*/
    margin: 3em 0; 
}

.rodape {

    margin-top: 10rem;
   text-align: center;
}

.rodape__lista {

    margin-top: 2em;
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.lista__link a {

    margin: 0 1em;
    text-decoration: none;
    font-size: 16px;
    color: var(--branco-principal);
}

.lista__link a:hover {

    color: var(--botao-azul);
}

.lista__link a:active {

    color: purple;
}

.rodape__texto {

    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 2em 15em;
}