hr {
    margin: 0;
}

.rodape {

    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {

    display: none;
}

@media screen and (min-width: 1024px) { /* Configs para tablets  */

    .rodape {

        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {

        display: block;
    }

    .rodape__titulo {

        font-size: 24px;
    }

    .lista-rodape__titulo {

        color: var(--cinza-claro);
        font-size: 14px;
        text-transform: uppercase;
    }

    .lista-rodape__item {

        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape__link {

        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.5em;
    }
}