@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato&family=Montserrat:wght@400;600&display=swap');
/*Esse trecho se refere às importações de fontes ao arquivo css*/

/*Variáveis do CSS*/
:root {
    --cor--primaria: #FA7070;
    --cor--secundaria: #FBF2CF; 
    --cor--terciaria: #C6EBC5; 
    --cor--hover: #A1C298;
    --cor--alura: #102C57;
    --cor--curriculo: #FBF2CF;

    --fonte--KronaOne: 'Krona One', sans-serif;
    --fonte--Montserrat: 'Montserrat', sans-serif;
    --fonte--Lato: 'Lato', sans-serif;
}

/*Esse trecho se refere a propriedades gerais da estilização css e para isso precisa de um asterisco antes*/
* {
    /*Essas são as propriedades do css*/
    margin: 0px; /* Margin: Espaçamento externo que envolve o elemento. */
    padding: 0px; /* Padding: Espaçamento interno entre o conteúdo e a borda do elemento. */
}
/*Esse trecho se refere a tag body e a suas configs*/
body {
    /* height: 100vh; Height: Altura do elemento. */
    box-sizing: border-box;
    background-color: var(--cor--primaria);
    color: var(--cor--terciaria);
}

h1 {
   font-weight: bold; 
}

span {
    color: var(--cor--alura);
    font-family: var(--fonte--Lato);
    display: inline-block;
    border: 3px solid var(--cor--alura); /* Border: Borda ao redor do elemento. */
    padding: 0.1px 4px;
    border-radius: 20%;
}

span:hover {
    text-shadow: 0px 0px 10px var(--cor--alura);
    box-shadow: 2px 2px 10px var(--cor--alura);
}

/*Aqui estão as classes declaradas lá no index.html (elas devem ser chamadas com um '.' antes*/

.cabecalho {
    padding: 1% 0%  0% 10%;   
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte--Montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor--terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover { /* hover: efeito para quando o mouse passar sobre o ícone*/
    transform: scale(1.1);
}

.apresentacao {
    padding: 2% 10%;
    display: flex; /* Display: Flex: Cria um container flexível para layout em linha ou coluna. */
    align-items: center;
    justify-content: space-evenly;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%; /* Width: Largura do elemento. */
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte--KronaOne);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border:2px dotted var(--cor--terciaria); 
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor--secundaria);
    font-family: var(--fonte--Montserrat);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor--hover);
    transform: scale(0.9); /* Transform: Aplica transformações visuais a um elemento. */
}

.apresentacao__links__navegacao:visited {
    /* background-color: #22D4FD; */
    border:2px dotted var(--cor--terciaria);
    width: 280px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600; 
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor--secundaria);
    font-family: var(--fonte--Montserrat);

}

.apresentacao__conteudo__titulo {
    color: var(--cor--secundaria);
    font-size: 2.25rem;
    font-family: var(--fonte--KronaOne);
    
}

.apresentacao__conteudo__titulo__destaque{
    color: var(--cor--terciaria);
}

.apresentacao__link__titulo {
    text-decoration: none;
    color: var(--cor--alura);
    font-family: var(--fonte--Lato);
    text-shadow: 0px 0px 10px var(--cor--alura);
    display: inline-block;
    font-size: 2.625rem;
    border: 3px solid var(--cor--alura);
    padding: 0.1px 5px;
    border-radius: 20%;
    box-shadow: 2px 0px 8px var(--cor--alura);
}

.apresentacao__link__titulo:active {
    color: var(--cor--alura);
    font-family: var(--fonte--Lato);
    text-decoration: none;
    border: 3px solid var(--cor--alura);
    padding: 0.1px 5px;
    border-radius: 20%;
    box-shadow: 2px 0px 8px var(--cor--alura);
}

.apresentacao__link__titulo:visited {
    color: var(--cor--alura);
    font-family: var(--fonte--Lato);
    text-decoration: none;
    border: 3px solid var(--cor--alura);
    padding: 0.1px 5px;
    border-radius: 20%;
    box-shadow: 2px 0px 8px var(--cor--alura);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte--Montserrat);
    color: var(--cor--curriculo)
}

.apresentacao__conteudo__texto__destaque{
    color: var(--cor--secundaria);
}

.apresentacao__imagem {
    width: 50%;
    height: auto;
}

.rodape {
    padding: 20px;
    color: var(--cor--primaria);
    background-color: var(--cor--terciaria);
    text-align: center;
    font-family: var(--fonte--Montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

/* Estilos específicos com base nas dimensões do dipositivo*/
/*É possível definir intervalos para os tamanhos de telas com um único media query, atribuímos o valor mínimo e depois o valor máximo separando ele pelo atributo and: 
@media (min-width: 480px ) and (max-width: 800px)*/

@media (max-width: 1200px) { 

    body {
        background-color: #836096;
    }

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .rodape {
        color: #836096;
    }
}